.wp-inputList{
    border: 1px solid gray;
    border-radius:5px ;
    padding-left: 4px;
 
        display: flex;
       
        justify-content: space-between;
        align-items: center;
    
}
.wp-cart{
    border: 1px solid gray;
    grid-template-columns: 130px auto auto;
    .btn-stayHome{
        border-radius: 8px;
        width: 50px;
        height: 20px;
        background-color: #007ce8;
        text-align: center;
        font-weight: 500;
        padding: 5px;
        color: white;
    }
    .wp-free{
   width: 120px;    
   height: 25px;
   border-radius: 6px;
   
    }
   .wp-pay{
    border-left: 1px solid gray ;
   }
    
}
