.btn-catecary{
    width: 120px;
    height: 40px;
    background-color: #008ded;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    font-size: 1.8rem;
    margin-right: 10px;
}
.btn-catecary:hover{
    background-color: #33a3ed;
}
.btn-catecaryHCM{
    width: 220px;
    height: 40px;
    background-color: #008ded;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    font-size: 1.8rem;
    margin-right: 10px;
}
.btn-catecaryHCM:hover{
    background-color: #33a3ed;
}